Repository zeoflow/flow-kit, pull requests merged in 2021-04, with the labels that each got.

#33 Updated GitHub Environment
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/first-timers.yml
  .github/workflows/test.yml
  .zeobot/config.yml
  flow-kit/gradle.properties
Labels: @config, @environment, @priority-high

#36 Added Encrypted storage
  flow-kit/build.gradle
  flow-kit/src/main/java/com/zeoflow/storage/EncryptedSharedPreferences.java
  flow-kit/src/main/java/com/zeoflow/storage/MasterKey.java
  flow-kit/src/main/java/com/zeoflow/storage/MasterKeys.java
  flow-kit/src/main/java/com/zeoflow/storage/SharedPreferences.java
  flow-kit/src/main/java/com/zeoflow/storage/Type.java
Labels: @feature, @priority-medium

#37 Palette components
  flow-kit/src/main/java/com/zeoflow/palette/ColorCutQuantizer.java
  flow-kit/src/main/java/com/zeoflow/palette/Palette.java
  flow-kit/src/main/java/com/zeoflow/palette/Target.java
Labels: @feature, @priority-low

#38 added bitamp and view utils
  flow-kit/src/main/java/com/zeoflow/utils/BitmapUtils.java
  flow-kit/src/main/java/com/zeoflow/utils/ViewSizeUtils.java
Labels: @enhancement, @priority-high

#39 Added Graphics components
  flow-kit/src/main/java/com/zeoflow/utils/BitmapCompat.java
  flow-kit/src/main/java/com/zeoflow/utils/BitmapUtils.java
  flow-kit/src/main/java/com/zeoflow/utils/BlendModeColorFilterCompat.java
  flow-kit/src/main/java/com/zeoflow/utils/BlendModeCompat.java
  flow-kit/src/main/java/com/zeoflow/utils/BlendModeUtils.java
  flow-kit/src/main/java/com/zeoflow/utils/ColorUtils.java
  flow-kit/src/main/java/com/zeoflow/utils/ContentCompat.java
  flow-kit/src/main/java/com/zeoflow/utils/FileUtil.java
  flow-kit/src/main/java/com/zeoflow/utils/ImageUtil.java
Labels: @feature, @priority-low

#45 Fixed multiple log instances
  catalog/build.gradle
  flow-kit/src/main/java/com/zeoflow/app/Activity.java
  flow-kit/src/main/java/com/zeoflow/app/ActivityBuilder.java
  flow-kit/src/main/java/com/zeoflow/app/Entity.java
  flow-kit/src/main/java/com/zeoflow/app/Fragment.java
  flow-kit/src/main/java/com/zeoflow/app/FragmentActivity.java
  flow-kit/src/main/java/com/zeoflow/app/Gist.java
  flow-kit/src/main/java/com/zeoflow/app/RVHolderCore.java
  flow-kit/src/main/java/com/zeoflow/app/StatusBarUtil.java
  flow-kit/src/main/java/com/zeoflow/log/AndroidLogAdapter.java
  flow-kit/src/main/java/com/zeoflow/log/CsvFormatStrategy.java
  flow-kit/src/main/java/com/zeoflow/log/DiskLogAdapter.java
  flow-kit/src/main/java/com/zeoflow/log/DiskLogStrategy.java
  flow-kit/src/main/java/com/zeoflow/log/FormatStrategy.java
  flow-kit/src/main/java/com/zeoflow/log/Log.java
  flow-kit/src/main/java/com/zeoflow/log/LogAdapter.java
  flow-kit/src/main/java/com/zeoflow/log/LogPrinter.java
  flow-kit/src/main/java/com/zeoflow/log/LogStrategy.java
  flow-kit/src/main/java/com/zeoflow/log/LogcatLogStrategy.java
  flow-kit/src/main/java/com/zeoflow/log/PrettyFormatStrategy.java
  flow-kit/src/main/java/com/zeoflow/log/Printer.java
  flow-kit/src/main/java/com/zeoflow/log/Utils.java
  flow-kit/src/main/java/com/zeoflow/logger/FormatStrategy.java
  flow-kit/src/main/java/com/zeoflow/logger/LogStrategy.java
Labels: @bug-fix, @priority-low

#49 Gradle NDK Error fixed
  build.gradle
Labels: @bug-fix, @dependency-update, @environment, @priority-low

#51 Dependencies update
  catalog/build.gradle
  catalog/src/main/res/values/styles.xml
  flow-kit/build.gradle
Labels: @dependency-update, @priority-low

#52 Status Bar package changed
  flow-kit/src/main/java/com/zeoflow/utils/StatusBarUtil.java
  flow-kit/src/main/res/values/ids.xml
Labels: @bug-fix, @priority-low

#53 Added String creator
  catalog/src/main/java/com/zeoflow/sample/MainActivity.java
  flow-kit/gradle.properties
  flow-kit/src/main/java/com/zeoflow/utils/string/LineWrapper.java
  flow-kit/src/main/java/com/zeoflow/utils/string/StringCreator.java
  flow-kit/src/main/java/com/zeoflow/utils/string/StringWriter.java
  flow-kit/src/main/java/com/zeoflow/utils/string/Util.java
Labels: @feature, @priority-medium

#55 Added Memo Storage
  catalog/src/main/java/com/zeoflow/sample/MainActivity.java
  flow-kit/build.gradle
  flow-kit/src/main/java/com/zeoflow/storage/memo/ConcealEncryption.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/Converter.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/DataInfo.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/DefaultMemoFacade.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/Encryption.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/LogInterceptor.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/Memo.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/MemoBuilder.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/MemoConverter.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/MemoFacade.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/MemoSerializer.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/MemoUtils.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/NoEncryption.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/Parser.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/Serializer.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/SharedPreferencesStorage.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/Storage.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/ZsonParser.java
Labels: @feature, @priority-low

#56 Removed EncryptedStorage
  flow-kit/src/main/java/com/zeoflow/storage/EncryptedSharedPreferences.java
  flow-kit/src/main/java/com/zeoflow/storage/MasterKey.java
  flow-kit/src/main/java/com/zeoflow/storage/MasterKeys.java
  flow-kit/src/main/java/com/zeoflow/storage/SharedPreferences.java
  flow-kit/src/main/java/com/zeoflow/storage/Type.java
Labels: @bug-fix, @priority-very-low

#58 RVHolderCore will be an extension of RecyclerView
  flow-kit/src/main/java/com/zeoflow/app/RVHolderCore.java
Labels: @bug-fix, @invalid, @priority-low

#61 Storage components removed
  flow-kit/src/main/java/com/zeoflow/storage/memo/ConcealEncryption.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/Converter.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/DataInfo.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/DefaultMemoFacade.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/Encryption.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/LogInterceptor.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/Memo.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/MemoBuilder.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/MemoConverter.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/MemoFacade.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/MemoSerializer.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/MemoUtils.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/NoEncryption.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/Parser.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/Serializer.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/SharedPreferencesStorage.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/Storage.java
  flow-kit/src/main/java/com/zeoflow/storage/memo/ZsonParser.java
Labels: @bug-fix, @issue, @priority-very-low

#62 Prepared environment for next release
  build.gradle
  flow-kit/gradle.properties
Labels: @environment, @priority-very-low

#63 Migrated to abstract classes for the ones from `com.zeoflow.app`
  flow-kit/src/main/java/com/zeoflow/app/Activity.java
  flow-kit/src/main/java/com/zeoflow/app/Fragment.java
  flow-kit/src/main/java/com/zeoflow/app/FragmentActivity.java
Labels: @bug-fix, @issue, @priority-very-low

#65 Fixed log objects multiple times
  flow-kit/src/main/java/com/zeoflow/app/Activity.java
Labels: @bug-fix, @issue, @priority-very-low

#67 Removed examples on how to use memo
  catalog/src/main/java/com/zeoflow/sample/MainActivity.java
Labels: @documentation, @environment, @priority-very-low

#68 Created `buildSrc` folder
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/dictionaries/defualt.xml
  build.gradle
  buildSrc/.gitignore
  buildSrc/upload.gradle
  flow-kit/build.gradle
  flow-kit/gradle.properties
  flow-kit/maven-push.gradle
  gradle.properties
Labels: @environment, @priority-medium

#69 Remove unwanted files from `\demo` folder
  catalog/src/main/assets/animation.json
Labels: @environment, @issue, @priority-low

#70 Created Funding File
  .github/FUNDING.yml
Labels: @environment, @priority-medium

#73 Fixed StringCreator fails on api 24 or lower
  flow-kit/build.gradle
  flow-kit/src/main/java/com/zeoflow/utils/string/StringCreator.java
  flow-kit/src/main/java/com/zeoflow/utils/string/StringWriter.java
Labels: @bug-fix, @issue, @priority-high
